<h2>List of Works</h2><br>

<% Work.category.each do |category_name,works|%>
  <h3><%= category_name.upcase %></h3>
  <div class="containter-lg">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Votes</th>
          <th>Title</th>
          <th>Catergory</th>
          <th>Created By</th>
          <th>Published</th>
          <th>Upvote</th>
        </tr>
      <thead>
          
      <tbody>
        <% works.each do |work| %>
          <tr class="clickable-tr" data-path="<%=work_path(work)%>">
            <td>0</td>
            <td><%= link_to work.title,work_path(work.id) %></td>
            <td><%= work.category %></td>
            <td><%= work.creator %></td>
            <td><%= work.publication_year %></td>
            <td>Upvote</td>
          </tr> 
        <% end %> 
      </tbody>
    </table>
    </div>
<% end %>


  <%# </tbody> %>
    <%# </table> %>
     <%# <% else %> 
            <%# <h2>No Works in the system</h2> %>
                <%# <% if works.length > 0 %>