<section>
  <h2><%= @work.title %></h2>
  <p>Created by:<%= @work.creator %></p>
  <p>Published:<%= @work.publication_year %></p>
  <p>Description<%= @work.description %></p>

  <section>
    <a class="btn btn-primary" href = "/users ">Back to media ranks</a>
    <a class="btn btn-primary" href = "<%= edit_work_path(@work.id)%>">Edit</a>
    <a class="btn btn-primary" href = "<%= %>">Upvote</a>
     <a class="btn btn-danger" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href = "<%= %>">Delete</a>
  </section>
</section>
 <div class="containter-lg">
  <table class="table table-hover">
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Catergory</th>
          <th>Created By</th>
          <th>Published</th>
          <th>Upvote</th>
        </tr>
      <thead>
          <h1>O Votes for this Work</h1>
      <tbody>
        
          <tr class="clickable-tr" data-path="<%=%>">
            <td>0</td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td><%=  %></td>
            <td>Upvote</td>
          </tr> 
   
      </tbody>
    </table>
    </div>

  
   
  


