<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <header class="app-header__header">
      <h1>
        <a href ="/works">MediaRanker</a>
        <small>Ranking the Best of Everything</small>
      </h1>
        <nav clas="app-header__nav">
          <ul class="nav app-header__site-nav-container">
             <li class="nav-item app-header__nav_item">
              <a class="nav-link" href="/">View top media</a>
              </li>
            <li class="nav-item app-header__nav_item">
              <a class="nav-link" href="/works">View all media</a>
              </li>
               <li class="nav-item app-header__nav_item">
              <a class="nav-link" href="/users">View all users</a>
              </li>
              <li class="nav-item app-header__nav_item">
              <a class="nav-link" href="/works/new">Add a new work</a>
              </li>
           <ul class="nav app-header__user-nav-container"> 
            <li class="nav-item app-header__nav_item">
                <a class="btn btn-primary" href="/login">Log In</a>
            </li>
          </ul>
        </nav>
</header>
    <section class="alert_container">
        <% flash.each do |name, message|%>
            <% if name == "success"%>
                <div class="alert alert-success">    
                  <span ><%=message%></span>
                </div>
              <%else%>
                <div class="alert alert-success"> 
                  <span ><%=message%></span>
                <div>
             <%end%>
          <%end%>
      </section>
    <%= yield %>
  </body>
</html>
